/* Navbar Format */

.container.navbar {
    overflow: visible;
}

a.navbar-brand {
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #0d7377;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 40px;
    height: 60px;
}
.nav-item.dropdown.show {
    background-color: white;
}
.dropdown-menu {
    margin: 0;
    overflow: visible;
}

/* Website background */

body{
    background-color: #eeeeee;
}

/*Landing page*/

.container {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.container.p {
    padding-left: 10px;
}

.col-md-12 {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}

#Thumbnail {
    width: 200px;
    height: auto;
    border: thin;
}

/*Temperature */

.Temp {
    padding-top: 20px;
}

#TempImage {
    background-color: white;
}

/* Humidity */

.Humid {
    padding-top: 20px;
}

#HumidImage {
    background-color: white;
}

/* Cloudiness */

.Cloud {
    padding-top: 20px;
}

#CloudImage {
    background-color: white;
}

/* Windspeed */

.Wind {
    padding-top: 20px;
}

#WindImage {
    background-color: white;
}

/*comparison*/

.container.image-grid{
    
}
.image-grid img{
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    

}

/*Data Table*/

.container table{
    background-color: white;
}

/*Media tags- need to revist these*/

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
