.container.navbar {
    overflow: visible;
}

a.navbar-brand {
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: #0d7377;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 40px;
    height: 60px;
}
.nav-item.dropdown.show {
    background-color: white;
}
.dropdown-menu {
    margin: 0;
    overflow: visible;
}

body{
    background-color: #eeeeee;
}
.container {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.col-md-12 {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}


.Lat {
    padding-top: 20px;
}


.image-grid img{
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: white;
    

}

.container table{
    background-color: white;
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
