/* Navbar Format */

.container.navbar {
    overflow: visible;
}

a.navbar-brand {
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background-color: #0d7377;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar {
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 40px;
    height: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-item.dropdown.show {
    background-color: white;
}
.dropdown-menu {
    margin: 0;
    overflow: visible;
}

/* Website background */

body{
    background-color: #eeeeee;
}

/*Landing page*/

.container {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.container.p {
    padding-left: 10px;
}

.col-md-12 {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
}

#Thumbnail {
    width: 200px;
    height: auto;
    border: thin;
}


h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0d7377;
}

h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #0d7377;
    padding-top: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*Temperature */

.Temp {
    padding-top: 20px;
}

#TempImage {
    background-color: white;
}

#TempImage2 {
    background-color: white;
}

#TempImage3 {
    background-color: white;
}

#TempP {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

#TempP2 {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}


/* Humidity */

.Humid {
    padding-top: 20px;
}

#HumidImage {
    background-color: white;
}

#HumidImage2 {
    background-color: white;
}

#HumidImage3 {
    background-color: white;
}

#HumidP {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

#HumidP2 {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

/* Cloudiness */

.Cloud {
    padding-top: 20px;
}

#CloudImage {
    background-color: white;
}

#CloudImage2 {
    background-color: white;
}

#CloudImage3 {
    background-color: white;
}

#CloudP {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

#CloudP2 {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

/* Windspeed */

.Wind {
    padding-top: 20px;
}

#WindImage {
    background-color: white;
}

#WindImage2 {
    background-color: white;
}

#WindImage3 {
    background-color: white;
}

#WindP {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

#WindP2 {
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 40px;
}

/*comparison*/

.container.image-grid{
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.image-grid.img{
    width: 200px;
    text-align: center;
    

}

/*Data Table*/

.container table{
    background-color: white;
}

/*Media tags */

@media(max-width:767px){
    .navbar.bg-light{
        background-color: #0d7377 !important;    
    }

    .navbar-collapse{
        background-color: #f8f9fa;
    }
    .navbar{
        padding:inherit;
    }
}

@media (max-width: 767px) {
    .table-responsive .dropdown-menu {
        position: static !important;
    }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
